@use '../../utilities/responsive';

.information{
    background-image: linear-gradient(360deg, #D8C3A3, #d0957e00);

}

.card{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 7rem;
    gap: var(--gap-l);
    margin: 0 1rem;


    @include responsive.max(75rem) {
        flex-direction: column;
        align-items: 0;
    }
    
    &__image{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
        opacity: 1;
        overflow: hidden;
        box-shadow: 5px 5px 15px -14px black;
        
        &:hover{
            transform: scale(1.1);
        }
    }

    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__link-book, &__link-book--adventure{
        color: var(--color-light);
        font-size: clamp(2rem, 8vw, 1rem);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.3s;

        @include responsive.max(75rem) {
            opacity: 1;
        }
    }

    &__link-book:hover {
        transition: all 0.3s;
        opacity: 1;
    }

    &__picture{
        max-width: 350px;
        height: 350px;
        object-fit: cover;
    }



}