.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--gap-l);


    &__title{
        margin-bottom: 0;
        font-size: clamp(3rem, 8vw, 4.25rem);
    }
    &__subtitle{
        max-width: 50rem;
        font-family: var(--font-sans);
        font-size: var(--font-size-2);
        line-height: var(--line-height);

    }



}