:root {
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75 );
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --border-radius: 0px;
  --color-dark: #222;
  --color-dark-200: #444;
  --color-dark-300: #666;
  --color-dark-500: #888;
  --color-dark-600: #999;
  --color-dark-700: #b5b5b5;
  --color-dark-800: #d5d5d5;
  --color-dark-900: #f1f1f1;
  --color-accent: #D8C3A3;
  --color-accent-200: #009fbb;
  --color-accent-300: #009fbb;
  --color-accent-400: #009fbb;
  --color-accent-500: #009fbb;
  --color-accent-600: #009fbb;
  --color-accent-700: #009fbb;
  --color-accent-800: #009fbb;
  --color-accent-900: #009fbb;
  --color-light: #fff;
  --color-light-200: #efead8;
  --color-light-300: #efead8;
  --color-light-400: #efead8;
  --color-light-500: #efead8;
  --color-light-600: #efead8;
  --color-light-700: #efead8;
  --color-light-800: #efead8;
  --color-light-900: #efead8;
  --font-sans: "futura-pt", "Arial", sans-serif;
  --font-serif: "questa-grande","Georgia", serif;
  --line-height: 1.5;
  --font-scale: 1.25;
  --font-size: 1.125rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, 75rem) [inner-end] minmax(32px, 1fr) [full-end];
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  font-weight: 400;
}

p {
  line-height: var(--line-height);
}

a {
  line-height: var(--line-height);
  text-decoration: none;
}
a:hover {
  color: var(--color-accent);
}

li {
  line-height: var(--line-height);
}

.button {
  background-color: transparent;
  color: var(--color-light);
  border: 0;
  padding: 0;
  font-size: var(--font-size-2);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: var(--gap-s);
}
.button svg {
  opacity: 1;
}
.button:hover {
  background-color: transparent;
  color: var(--color-light);
}

.site-header {
  position: absolute;
  height: 160px;
  width: 100%;
  display: grid;
  padding: 0 var(--gap-xl);
  z-index: 9999;
}
@media screen and (max-width: 40rem) {
  .site-header {
    padding: 0 var(--gap-l);
  }
}
.site-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header__branding {
  display: block;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gap-l);
  position: relative;
}
.menu::before {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  max-width: 140px;
  width: 100%;
  background-color: var(--color-light);
  opacity: 0.34;
  margin: 0 var(--gap-xl) 0 0;
  right: 100%;
  top: 50%;
}
@media screen and (max-width: 62.5rem) {
  .menu::before {
    display: none;
  }
}
.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: var(--gap-l);
}
@media screen and (max-width: 55rem) {
  .menu__list {
    display: none;
  }
}
.menu__link {
  color: var(--color-light);
  font-size: var(--font-size-2);
  transition: all 0.2s;
}
.menu__link:hover {
  color: var(--color-light-200);
}
.menu__button {
  background-color: transparent;
  color: var(--color-light);
  border: 0;
  padding: 0;
  font-size: var(--font-size-2);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: var(--gap-s);
  width: 34px;
  height: 34px;
  position: relative;
}
.menu__button svg {
  opacity: 1;
}
.menu__button:hover {
  background-color: transparent;
  color: var(--color-light);
}
.menu__button--close .hamburger, .menu__button:focus .hamburger {
  height: 0;
}
.menu__button--close .hamburger::before, .menu__button--close .hamburger::after, .menu__button:focus .hamburger::before, .menu__button:focus .hamburger::after {
  top: 0;
  transition: top 0.2s, transform 0.2s 0.2s, width 0s 0.2s;
}
.menu__button--close .hamburger::before, .menu__button:focus .hamburger::before {
  transform: rotate(-45deg);
}
.menu__button--close .hamburger::after, .menu__button:focus .hamburger::after {
  width: 100%;
  transform: rotate(45deg);
}
.menu__item--current {
  font-weight: 600;
}

.hamburger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  background-color: var(--color-light);
  transition: height 0s 0.2s;
}
.hamburger::before, .hamburger::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: inherit;
  position: absolute;
  top: -8px;
  transition: top 0.2s 0.2s, transform 0.2s;
}
.hamburger::after {
  right: 0;
  top: 8px;
  width: 70%;
}

.hero {
  background-color: var(--color-light);
  height: 100vh;
  display: grid;
  padding: 32px;
  color: var(--color-light);
  margin-bottom: 32px;
}
@media screen and (max-width: 62.5rem) {
  .hero {
    padding: 16px;
  }
}
.hero__inner {
  background-color: #000;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: "hero-header" "hero-main" "hero-footer";
  align-items: center;
  position: relative;
}
.hero__video {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
.hero__main {
  grid-area: hero-main;
  padding: var(--gap-m) var(--gap-xl);
  position: relative;
}
@media screen and (max-width: 30rem) {
  .hero__main {
    padding: var(--gap-m) var(--gap-m);
  }
}
.hero__footer {
  grid-area: hero-footer;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--gap-m);
  position: relative;
}
.hero__content {
  max-width: 50rem;
  width: 100%;
}
.hero__prev-link {
  background-color: transparent;
  color: var(--color-light);
  border: 0;
  padding: 0;
  font-size: var(--font-size-2);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: var(--gap-s);
  opacity: 0.54;
  font-family: var(--font-serif);
  font-size: var(--font-size-1);
  transition: all 0.2s;
}
.hero__prev-link svg {
  opacity: 1;
}
.hero__prev-link:hover {
  background-color: transparent;
  color: var(--color-light);
}
@media screen and (max-width: 40rem) {
  .hero__prev-link {
    display: none;
  }
}
.hero__prev-link svg path {
  transition: fill 0.2s;
}
.hero__prev-link:hover {
  opacity: 1;
}
.hero__prev-link:hover svg path {
  fill: var(--color-accent);
}
.hero__pagination {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
  flex: 1;
}
.hero__pagination::before {
  content: "";
  display: block;
  height: 1px;
  flex: 1;
  background-color: var(--color-light);
  opacity: 0.34;
  margin: 0 8vw;
}
@media screen and (max-width: 40rem) {
  .hero__pagination::before {
    margin-left: 0;
  }
}
@media screen and (max-width: 30rem) {
  .hero__pagination .button--next,
  .hero__pagination .button--prev {
    max-width: 2rem;
  }
}
.hero__pagination .button--next #Union_1, .hero__pagination .button--next #Union_2,
.hero__pagination .button--prev #Union_1,
.hero__pagination .button--prev #Union_2 {
  transition: all 0.2s;
}
.hero__pagination .button--next:hover #Union_1, .hero__pagination .button--next:hover #Union_2,
.hero__pagination .button--prev:hover #Union_1,
.hero__pagination .button--prev:hover #Union_2 {
  fill: var(--color-accent);
}
.hero__social {
  position: absolute;
  display: flex;
  align-items: center;
  right: var(--gap-m);
  top: 40%;
  transform: rotate(-90deg) translateX(50%);
  transform-origin: bottom right;
}
.hero__social::before, .hero__social::after {
  content: "";
  display: block;
  height: 1px;
  width: 10vh;
  background-color: var(--color-light);
  opacity: 0.34;
  margin: 0 var(--gap-l);
}
.hero .counter {
  white-space: nowrap;
}
.hero .counter__total:before {
  content: "/ ";
}

.destination {
  padding-right: var(--gap-m);
}
.destination__category {
  font-size: var(--font-size-2);
  margin-bottom: var(--gap-s);
  display: block;
  color: var(--color-dark-700);
}
@media screen and (max-width: 40rem) {
  .destination__category {
    font-size: var(--font-size-1);
  }
}
.destination__title {
  font-size: clamp(3rem, 8vw, 5.25rem);
  margin: 0;
}
.destination__subtitle {
  font-size: var(--font-size-4);
  font-size: clamp(var(--font-size-2), 4vw, var(--font-size-4));
  font-style: italic;
  font-weight: 300;
  margin: 0.5rem 0 0 0;
  color: var(--color-accent);
}
.destination__button {
  background-color: transparent;
  color: var(--color-light);
  border: 0;
  padding: 0;
  font-size: var(--font-size-2);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: var(--gap-s);
  margin-top: var(--gap-xl);
}
.destination__button svg {
  opacity: 0.34;
}
.destination__button:hover {
  background-color: transparent;
  color: var(--color-light);
}
@media screen and (max-width: 40rem) {
  .destination__button {
    font-size: var(--font-size-1);
  }
}
.destination__button svg {
  transition: all 0.2s;
}
.destination__button:hover svg {
  opacity: 1;
  transform: rotate(90deg);
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}
.social__link {
  color: var(--color-light);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--gap-xl);
  margin-top: 0;
}
@media screen and (max-width: 31.25rem) {
  .content {
    margin: 0 20px var(--gap-xl) 20px;
  }
}
.content__title {
  margin: 0;
  font-size: clamp(3rem, 8vw, 5.25rem);
}
.content span {
  color: var(--color-accent);
}
.content__subtitle {
  max-width: 40rem;
  text-align: center;
  font-family: var(--font-sans);
  font-size: clamp(1rem, 8vw, 1.5rem);
  line-height: var(--line-height);
  margin-bottom: var(--gap-s);
}
.content__button {
  all: unset;
  cursor: pointer;
  position: relative;
  font-size: var(--font-size-2);
  margin-bottom: var(--gap-s);
  color: black;
  transition: all 0.2s;
}
.content__button:hover {
  transition: all 0.2s;
  color: var(--color-accent);
}
.content__button::after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  max-width: 96px;
  width: 100%;
  background-color: black;
  opacity: 0.34;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 40rem) {
  .content__button::after {
    max-width: 75px;
  }
}

.information {
  background-image: linear-gradient(360deg, #D8C3A3, rgba(208, 149, 126, 0));
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 7rem;
  gap: var(--gap-l);
  margin: 0 1rem;
}
@media screen and (max-width: 75rem) {
  .card {
    flex-direction: column;
    align-items: 0;
  }
}
.card__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  opacity: 1;
  overflow: hidden;
  box-shadow: 5px 5px 15px -14px black;
}
.card__image:hover {
  transform: scale(1.1);
}
.card__link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__link-book, .card__link-book--adventure {
  color: var(--color-light);
  font-size: clamp(2rem, 8vw, 1rem);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
}
@media screen and (max-width: 75rem) {
  .card__link-book, .card__link-book--adventure {
    opacity: 1;
  }
}
.card__link-book:hover {
  transition: all 0.3s;
  opacity: 1;
}
.card__picture {
  max-width: 350px;
  height: 350px;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
