@use '../components/buttons' as button;
@use '../utilities/responsive';

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap-l);
    position: relative;

    &::before{
        position: absolute;
        content: '';
        display: block;
        height: 1px;
        max-width: 140px;
        width: 100%;
        background-color: var(--color-light);
        opacity: 0.34;
        margin: 0 var(--gap-xl) 0 0;
        right: 100%;
        top: 50%;
        
        @include responsive.max(62.5rem) {
            display: none;
        }


    }

    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        gap: var(--gap-l);

        @include responsive.max(55rem){
            display: none;
        }
    }

    &__link{
        color: var(--color-light);
        font-size: var(--font-size-2);
        transition: all 0.2s;
        &:hover{
            color: var(--color-light-200)
        }
    }

    &__button{
        @include button.default;
        width: 34px;
        height: 34px;
        position: relative;

            //focus is temp until we include javascript

        &--close, 
        &:focus {

            .hamburger{
                height: 0;
                
                &::before, &::after {
                    top: 0;
                    transition: top 0.2s, transform 0.2s 0.2s, width 0s 0.2s;
                }

                &::before{
                    transform: rotate(-45deg);
                }

                &::after{
                    width: 100%;
                    transform: rotate(45deg)

                }
            }


        }
    }

    &__item{

        &--current{
            font-weight: 600;
        }
    }

}

.hamburger {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    background-color: var(--color-light);
    transition: height 0s 0.2s;

    &::before, &::after{
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        background-color: inherit;
        position: absolute;
        top: -8px;
        transition: top 0.2s 0.2s, transform 0.2s;
    }

    &::after{
        right: 0;
        top: 8px;
        width: 70%;
    }


}